html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  object-fit: cover;
}

input[type='text'] {
  width: 80%;
  font-size: 17px;

  border-top: solid 2px #6589df;
  border-bottom: solid 2px #6589df;
}

button[type='submit'] {
  width: 20%;
  float: left;
  padding: 10px;
  font-size: 17px;

  background-image: url('../images/search.svg#icon-search');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 20%;

  border-left: none;
  border-top: solid 2px #6589df;
  border-bottom: solid 2px #6589df;

  padding: 0.4rem 0;
}

button {
  transition: background-color 300ms ease-in-out;
}

button:hover {
  cursor: pointer;
  background-color: #0b7dda;
}

.header {
  background-color: #3f56b4;
  padding: 10px 0px;

  position: fixed;
  width: 100vw;
  /* overflow-y: hidden; */
}

.search-form {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 400px;
  gap: 0.5rem;
}

.load-more {
  display: none;

  justify-content: center;
  align-items: center;

  font-size: 17px;
  width: 300px;
  height: 30px;

  margin-top: 20px;
}

.gallery-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  flex-wrap: wrap;
  min-height: 100vh;
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
  background-color: #fff;
  color: #212121;
  overflow-x: hidden;
  padding-top: 1.5rem;
  padding: 2rem 0;
}

.gallery {
  max-width: 1200px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;

  padding: 0;
  margin-right: -20px;
  margin-bottom: -20px;
  margin-top: 20px;
}

.photo-card {
  margin-right: 20px;
  margin-bottom: 20px;

  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.gallery__item {
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.gallery__image:hover {
  transform: scale(1.03);
}

.gallery__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery__link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.gallery__link:hover {
  cursor: zoom-in;
}

/* Lightbox */
.lightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--animation-duration) var(--timing-function);
}

.lightbox.is-open {
  opacity: 1;
  pointer-events: initial;
}

.lightbox__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.lightbox__content {
  transform: scale(0.95);
  transition: transform var(--animation-duration) var(--timing-function);
}

.lightbox.is-open .lightbox__content {
  transform: scale(1);
}

.lightbox__image {
  display: block;
  width: auto;
  height: auto;
  max-height: 100vh;
  max-width: 100vw;
}

.lightbox__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  transition: background-color var(--animation-duration) var(--timing-function);
  outline: none;
  background-image: url('../images/icon-close.svg');
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.lightbox__button:hover,
.lightbox__button:focus {
  background-color: rgba(0, 0, 0, 0.5);
}
